.home-ques-ans{
    margin: 15px;
    padding: 5px;
    /* background-color: aqua; */
}
.display-ques-ans{
    border: 1px solid rgb(221, 212, 212);
    /* padding: 10px; */
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(197, 200, 204);
    box-shadow: 5px 10px rgb(241, 233, 233);
}


.display-ques-ans-ques{
    display: flex;
    margin: 5px;
    /* padding: 25px; */
}

.display-ques-ans-ans{
    padding: 10px 10px 0px 10px;
    margin: 10px 20px;
    /* width: fit-content; */
    background-color: white;
    border-radius: 15px;
}

.ans{
    padding: 0px;
    margin: 0px;
}

.display-ques-ans-actions{
    margin: 10px;
    text-align: center;
}

.display-ques-ans-submit{
    margin: 5px;
    padding: 5px;
}

.display-ques-ans-txtarea{
height: 100px;
width: 90%;
border-radius: 10px;
padding: 5px;

}

/* .post-questions{
    text-align: center;
} */

.ans-info{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    /* background-color: rgb(238, 245, 239); */
    color: rgb(122, 122, 116);
    /* text-align: center; */
    border-radius: 5px;;
    
}

.ques-info{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /* display: flex;
    justify-content: space-around; */
    /* margin-top: 20px; */
    font-size: large;
    /* background-color: rgb(222, 225, 228); */
    color: rgb(122, 122, 116);
    text-align: center;
    border-radius: 5px;;
}

.ans-info>div>p{
    
    font-size: small;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.ans-info>div>span{
    
    font-size: small;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.qyues-info>div>span{
    
    font-size: small;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.ques{
    font-size: xx-large;
    font-weight: bold;
    padding: 20px;
}

.ques>p{
    margin: 0px 0px 20px 0px;
}

.display-ques-ans-votes{
    display: flex;
    padding: 20px;
    font-size: x-large;
    flex-direction: column;
    text-align: center;
}

.vote-up,.vote-down{
    background: none;
}

.company-content{
    display: flex;
    padding: 10px;
}

.company-content-info{
    margin: 10px;
    border: 1px solid black;
}